# Ignore Kdevelop related stuff
*.kdev4

# Ignore extra XCode related stuff
KindleTool.xcodeproj/project.xcworkspace
KindleTool.xcodeproj/xcuserdata

# Nix Build Output
result

# CMake and vcpkg local build output
out/
vcpkg_installed/
